<div ng-init="getComments()">
  <div class="spacing">
    <span >Page Size: </span> <span style="color:blue" id="lbPageSize"></span>
    <span style=" margin-left: 10%">Total Pages: </span>  <span style="color:blue" id="lbTotalPages"></span>
    <span style=" margin-left: 10%">Current Page: </span> <span style="color:blue" id="lbCurrentPage"></span>
    <span style=" margin-left: 10%">Total records count: </span> <span style="color:blue" id="lbTotalCount"></span>
  </div>
<div ag-grid="gridOptions" class="ag-dark grid" ></div>
  <div class="container">
    <ul class="pagination">
      <li><a ng-click="onBtPrevious()">«</a></li>
      <li><a ng-click="onBtFirst()">1</a></li>
      <li><a ng-click="onBtSecond()">2</a></li>
      <li><a ng-click="onBtThird()">3</a></li>
      <li><a ng-click="onBtFourth()">4</a></li>
      <li><a ng-click="onBtFifth()">5</a></li>
      <li><a ng-click="onBtNext()">»</a></li>
    </ul>
  </div>
</div>


